*{
    margin: 0px;
    padding: 0px;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 600px;
    width: 350px;
    background-color: aliceblue; 
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.box img{
    /* height: 200px; */
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.box h2{
    font-weight: bold;
}

.box p{
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.insidebox{
    width: 80%;
    height: 10%;
    background-color: rgb(188, 202, 149);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 20px ;
    /* padding-left: 20px ; */
}

#imgbox img{
    height: 50px;
    width: 50px;
    border-radius: 5px;
    /* display: flex; */
    /* justify-content: space-between; */
}

#leftbox{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 15px; */
}

#paymentbutton{
    width: 80%;
    height: 9%;
    background-color: rgb(4, 68, 216);
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.cancelorder a{
    text-decoration: none;
    color: blue;
    font-weight: bolder;
    font-size: large;
}